PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=replace_with_paypal_client_id
PAYPAL_CLIENT_SECRET=replace_with_paypal_client_secret

XIMALAYA_APP_KEY=3205f127eb7fff523d8d91b1a8bb0e6b
XIMALAYA_APP_SECRET=replace_with_ximalaya_app_secret
